:host {
  display: block;
}
.my-card {
  margin: 25px;
}
h5 {
  margin-bottom: 7px;
  margin-top: 7px;
}
h4 {
  margin-bottom: 0;
}
small {
  margin-bottom: 1rem;
  display: inline-block;
}
.float-right {
  float: right;
}
.my-btn {
  margin-bottom: 0.1rem;
  text-align: left;
}
.grid-1 {
  display: grid;
  width: 100%;
  grid-gap: 1.25rem;
  position: relative; 
  grid-template-columns: 85% 15%; 
}
.item1 {
  grid-area: 1 / 1;
  /* min-height: 2.35rem; */
}
.card-action {
  margin-left: 0.3rem;
  
}
.bottom-right{
  position: absolute;
   bottom: 0.75rem;
   right: 1.25rem;
  grid-area: 1 / 2;
} 
.badge {
  display: inline-block;
  padding: .35em .65em;
  font-size: .75em;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .5rem;
  
}
.green{
  background-color:#379880;
  margin-right: 0.5rem;

}
.yellow{
  background-color: #FFD97D;
  margin-right: 0.2rem;
}
.red{
  background-color: #bf0023;
  margin-right: 0.5rem;
}
 /* .card-link-ul { // How to change bullets to image
  list-style-type:none;
}
.card-link-li{
  background-image: url("./assets/open_in_new-24px.svg") ;
  background-repeat: no-repeat;
  padding-left: 40px;
}  */